/* ------attribution---------*/

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 20px;
}
.attribution a { color: hsl(228, 45%, 44%); }
/* ------the body---------*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Figtree", sans-serif;
}
/* -----------------------card---------------------------*/
.card{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 0px black;
    height: 480px;
    border: 2px solid black;
}
/* ------ svg img---------*/

.card svg{
    border-radius: 10px;
}
/* -----------------------*/



/* ------ content div---------*/

.content{
    padding: 5px;
    margin-top: 15px;
}
p{
    font-size: 16px;
}

/* ------ span learning---------*/
.lern {
    background-color:hsl(47, 88%, 63%) ;
    height: 30px;
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.lern p{
    font-weight: 800;
}
/* --------------------------------*/

#pub {
   font-weight: 600;
   font-size: 14px;
}
h2{
    font-weight: 800;
    cursor: pointer;
}
/* ------ details text---------*/
.detail{
    padding-right: 18px;
    color: hsl(0, 0%, 42%);
    font-weight: 500;
}
/* --------------------------------*/


/* -----------avatar---------------*/
.profile{
height: 50px;
display: flex;
align-items: center;
gap: 10px;
font-weight: bold;
}
.profile img{
 width: 40px;
 height: 40px;
}
h2:hover {
    color:hsl(47, 88%, 63%) ;
}
h2:focus {
    color:hsl(47, 76%, 21%) ;
}
/* --------------------------------*/
@media screen and (max-width: 390px) {
    .card{
        width: 252px;
        height: 390px;
        padding:  20px;
        justify-content: space-evenly;
        border: 1px solid black;
    }
    h2{
        font-size: 18px;
        font-weight: 850;
    }
    #pub {
        font-size: 12px;
     }
     .lern {
        height: 21.6px;
        width: 59.76px;
    }
    .lern p{
        font-size: 12px;
    }
    .card svg{
        width: 100%;
        height: max-content;
        
    }
    .content{
        margin-top: 10;
        padding: 0;
        gap: 20px;
    }
    .profile img{
        width: 30px;
        height: 30px;
       }
       .profile{
        height: 30px;
        margin-top: 20px;
        gap: 10px;
        }
        .profile p{
            font-size: 12px;
            font-weight: 800;
        }
        .detail{
            padding-right: 10px;
            font-weight: 500;
            font-size: 12px;
            line-height:20px;
        }
        .attribution { 
            font-size: 8px; 
            margin-top: 20px;
        }

  }